[class*="col-"] {
    min-height: 50px;
    background-color: #006cfa;
    border: 1px solid white;
}

.container {
    color: white;
    text-align: center;
    line-height: 50px;
}

.container h2 {
    color: black;
    text-align: left;
}

section {
    margin-bottom: 30px;
}

.nested .col-6 .row div {
    background-color: #00e165;
    height: 30px;
    min-height: 0;
    border: 1px solid #006cfa;
    line-height: 30px;
}

.row.nested .col-6 .row {
    padding: 10px;
}

